.foto-igor {
    border-radius: 45%;
}

.titulo-nome {
    text-decoration: none;
    color: #772d8b;
    font-family: 'Zen Dots', cursive;
    font-weight: 300;
}

body {
    background-color: #d3f6db;
    font-family: 'Roboto', sans-serif;
}

.nascidoEm {
    font-style: italic;
    color:#5a0b4d;
    font-weight: 600;
}

.instagram {
    text-decoration-line: none;
}

.empatia {
    font-size: 16px;
}

.escuta {
    font-size: 17px;
}

.ponto-vista {
    font-size: 15px;
}